.create-order-wrapper {
    background: rgb(238, 238, 238);
    min-height: calc(100vh - 4em);
    padding-bottom: 2em;

    .inner-wrapper {
        // border: 2px solid var(--logo-color);
        width: 60%;
        border-radius: 10px;
        margin-top: 2em;
        min-height: 80vh;
        padding: 2em;
    }

    form {
        margin-top: 2em;

        .create-order-fields {
            margin-top: 1em;
        }

        .create-order-row > td {
            padding: 0 5px;
        }
    }
}

@media (max-width: 768px) {
    .create-order-wrapper {
        .inner-wrapper {
            border: none;
            width: 95%;
            background: rgb(238, 238, 238);
            border-radius: 0px;
            margin-top: 0em;
            min-height: 80vh;
            padding: 2em 1em;
        }

        form {
            margin-top: 0em;
        }
    }
}
